.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-left {
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.lock-screen {
    margin: 0;
    padding: 0;
    height: calc(100vh - 10px);
    overflow: hidden;
    width: calc(100vw - 10px);
    position: fixed;
    border: 5px solid #5b3;
    touch-action: none;
}